.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.color-black {
  color: #303030 !important;
}

.color-primary {
  color: #5918eb !important;
}

.fw-bold {
  font-weight: bold !important;
}
