/* 버튼 커스텀 */
.custom-button {
  width: 100%;
  height: 60px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: -0.48px;
  text-align: center;
  background-color: #dedede;

  &.disabled {
    background-color: #dedede !important;
    cursor: not-allowed;
  }

  &.gray {
    background-color: #828282;
  }

  &.primary {
    background-color: #5918eb;
    &.light {
      background-color: #9389c8;
    }
  }

  &.r-8 {
    border-radius: 8px;
  }

  &.h-46 {
    height: 46px;
  }

  &.w-l {
    width: 426px;
  }

  &.w-m {
    width: 276px;
  }

  &.w-s {
    width: 184px;
    font-size: 16px;
  }

  &.mo {
    height: 80px;
    border-radius: 50px;
    font-size: 34px;
    font-weight: normal;
  }
  @media (max-width: 750px) {
    &.mo {
      height: 10.66vw;
      border-radius: 6.6vw;
      font-size: 4.5vw;
    }
  }
}

/* 인풋 커스텀 */
.custom-input,
input[type="password"] {
  height: 46px;
  border: 1px solid #cecece;
  border-radius: 8px;
  text-indent: 20px;
  font-size: 16px;
  box-sizing: border-box;

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b2b2b2;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #b2b2b2;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #b2b2b2;
  }

  /* 모바일 변경 */
  &.mo {
    width: 100%;
    height: 80px;
    text-indent: 30px;
    font-size: 26px;
    border-radius: 20px;
  }
  @media (max-width: 750px) {
    &.mo {
      height: 10.6vw;
      text-indent: 4vw;
      font-size: 3.4vw;
      border-radius: 2.6vw;
    }
  }
}

/* 인풋 래퍼 */
.input-wrap {
  position: relative;
  /* 인풋 클리어 버튼 */
  .input-clear-button,
  .input-password-show-button {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 13px;
    right: 20px;
    z-index: 10;
    cursor: pointer;

    &.disabled {
      display: none;
    }

    /* 모바일인경우 위치 변경 */
    &.mo {
      width: 48px;
      height: 48px;
      top: 16px;
      right: 30px;
    }

    @media (max-width: 750px) {
      &.mo {
        width: 6.2vw;
        height: 6.2vw;
        top: 2.1vw;
        right: 4vw;
      }
    }
  }
}

/* 체크박스 설정 */
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  cursor: pointer;
  padding-left: 30px;
  padding-bottom: 4px;
  background-repeat: no-repeat;
  background-image: url("../images/signup/ico_check_d.svg");
  &.mo {
    padding-left: 60px;
    display: inline-block;
    background-image: url("../images/icon/checkbox_m.svg");
  }
  @media (max-width: 750px) {
    &.mo {
      padding-left: 8vw;
      background-size: 6.2vw;
    }
  }
}
input[type="checkbox"]:checked + label {
  background-image: url("../images/signup/ico_check_d_checked.svg");
  &.mo {
    background-image: url("../images/icon/checkbox_checked_m.svg");
  }
}

/* 셀렉트 커스텀 */
.custom-select {
  width: 100%;
  color: #b2b2b2;
  border: 1px solid #cecece;
  font-size: 16px;
  height: 46px;
  padding: 0 32px 0 16px;
  box-sizing: border-box;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  font-family: "Pretendard";
  background: #fff url("../images/icon/ico_select.png") no-repeat 100% 50%/27.5px
    auto;
  line-height: 28px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* 모바일 사이즈 */
  &.mo {
    height: 80px;
    font-size: 26px;
    padding: 0 32px;
  }

  &.selected {
    color: #303030;
  }

  &:disabled {
    cursor: not-allowed;
  }

  @media (max-width: 750px) {
    &.mo {
      height: 10.6vw;
      font-size: 3.4vw;
      padding: 0 4.2vw;
    }
  }
}

/* 커스텀 에러 메세지 */
span.custom-error {
  font-family: Pretendard;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: -0.4px;
  color: #e51f3f;
  &.hide {
    display: none;
  }

  &.mo {
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.55px;
  }

  @media (max-width: 750px) {
    &.mo {
      font-size: 2.9vw;
      line-height: 3.7vw;
    }
  }
}

/* 팝업 */
.dimlayer_z {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 280px;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  align-items: center;
  justify-content: center;

  /* 모바일 팝업 */
  &.mo {
    /* 팝업 아이템 */
    & > .fullpop_item {
      max-width: 670px;

      /* 팝업 타이틀 행 */
      .fullpop_titlow {
        height: 100px;

        /* 타이틀 텍스트 */
        & > .title-text {
          font-family: Pretendard;
          font-size: 30px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: -0.75px;
        }
      }

      /* 팝업 내용 */
      .fullpop_contlow {
        height: 800px;
      }
    }
  }

  @media (max-width: 750px) {
    &.mo {
      /* 팝업 아이템 */
      & > .fullpop_item {
        /* 팝업 타이틀 행 */
        .fullpop_titlow {
          height: 13.3vw;

          & > .title-text {
            font-size: 4vw;
          }
        }

        /* 팝업 내용 */
        .fullpop_contlow {
          height: 106vw;
        }
      }
    }
  }

  /* 배경 */
  & > .fullpop_dim {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.68);
  }

  /* 팝업 아이템 */
  & > .fullpop_item {
    box-sizing: border-box;
    z-index: 20;
    max-width: 700px;
    margin: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 22px;
    width: 100%;
    position: relative;
    overflow: hidden;

    /* 팝업 타이틀 행 */
    .fullpop_titlow {
      background: #495a79;
      height: 68px;
      padding: 0 30px;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;

      /* 타이틀 텍스트 */
      & > .title-text {
        font-family: Pretendard;
        font-size: 22px;
        font-weight: bold;
        letter-spacing: -0.55px;
        text-align: left;
        color: #fff;
      }

      /* 팝업 닫기 버튼 */
      & > .btn_layerclose {
        width: 22px;
        height: 22px;
      }
    }

    /* 팝업 내용 */
    .fullpop_contlow {
      background: #fff;
      height: 474px;
      overflow-y: auto;
    }
  }

  /* 팝업 오픈 여부 */
  &.active {
    display: flex;
  }
}

/* gnb */
.gnb_main {
  width: 100%;
  height: 100px;
  font-family: Pretendard;
  font-size: 38px;
  font-weight: 500;
  letter-spacing: -0.95px;
  line-height: 100px;
  text-align: center;
  border-bottom: 1px solid #ededed;

  @media (max-width: 750px) {
    height: 13.3vw;
    font-size: 5vw;
    line-height: 13.3vw;
  }
}
