/* 모바일 아이디 찾기 페이지 */
.m-find-id {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #303030;

  /* 컨텐츠 */
  & > .contents {
    width: 670px;
    margin-top: 60px;
    position: relative;

    & > .info-1 {
      font-family: Pretendard;
      font-size: 32px;
      line-height: 1.25;
      letter-spacing: -0.8px;
      text-align: center;
    }

    & > .info-2 {
      font-family: Pretendard;
      font-size: 28px;
      line-height: 1.29;
      letter-spacing: -0.7px;
      text-align: center;
    }

    /* 회원정보 입력 폼 */
    & > .find-form {
      width: 670px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      margin-top: 60px;

      & > .item {
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: 100%;
      }
    }

    /* 결과 창 */
    & > .find-result-box {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      /* 결과 타이틀 */
      & > .title {
        font-family: Pretendard;
        font-size: 32px;
        letter-spacing: -0.8px;
        text-align: center;
      }

      /* 찾기 결과 박스 */
      & > .inner-box {
        margin-top: 60px;
        width: 530px;
        padding: 60px 70px;
        border-radius: 20px;
        background-color: #f2f9ff;
        display: flex;
        flex-direction: column;
        gap: 10px;

        & > div {
          display: flex;
          justify-content: space-between;

          & > span {
            font-family: Pretendard;
            font-size: 28px;
            font-weight: 500;
            line-height: 2.14;
            letter-spacing: -0.7px;
            text-align: left;
          }
        }
      }
    }

    /* 로그인 | 회원가입 */
    & > .other-button-section {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      gap: 12px;
      margin-bottom: 336px;

      & > span {
        font-family: Pretendard;
        font-size: 28px;
        letter-spacing: -0.7px;
        text-align: center;
        color: #606060;

        & > a {
          color: #606060;
        }
      }
    }
  }

  @media (max-width: 750px) {
    & > .contents {
      width: 89vw;
      margin-top: 8vw;

      & > .info-1 {
        font-size: 4.2vw;
      }

      & > .info-2 {
        font-size: 3.7vw;
      }

      /* 회원정보 입력 폼 */
      & > .find-form {
        width: 89vw;
        gap: 2.6vw;
        margin-top: 8vw;

        & > .item {
          gap: 6px;
        }
      }

      /* 결과 창 */
      & > .find-result-box {
        /* 결과 타이틀 */
        & > .title {
          font-size: 4.2vw;
        }

        /* 찾기 결과 박스 */
        & > .inner-box {
          margin-top: 8vw;
          width: 70vw;
          padding: 8vw 9.3vw;
          border-radius: 2.6vw;
          gap: 1.3vw;

          & > div {
            & > span {
              font-size: 3.7vw;
            }
          }
        }
      }

      /* 로그인 | 회원가입 */
      & > .other-button-section {
        margin-top: 4vw;
        gap: 1.6vw;
        margin-bottom: 44.8vw;

        & > span {
          font-size: 3.7vw;
        }
      }
    }
  }
}

/* 비밀번호 찾기 페이지 */
.m-find-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #303030;

  /* 컨텐츠 */
  & > .contents {
    width: 670px;
    margin-top: 60px;
    position: relative;

    & > .info-1 {
      font-family: Pretendard;
      font-size: 32px;
      line-height: 1.25;
      letter-spacing: -0.8px;
      text-align: center;
    }

    /* 회원정보 입력 폼 */
    & > .find-form {
      width: 670px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      margin-top: 60px;

      & > .item {
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: 100%;

        & > .input-wrap {
          display: flex;
          gap: 10px;

          & > input {
            width: 460px;
          }

          & > button {
            border-radius: 15px;
            width: 200px;
            font-size: 28px;
            font-weight: normal;
          }
        }
      }
    }

    /* 결과 창 */
    & > .find-result-box {
      width: 670px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 60px;
      // padding: 50px 0;

      /* 결과 타이틀 */
      & > .title {
        font-family: Pretendard;
        font-size: 32px;
        line-height: 1.38;
        letter-spacing: -0.8px;
      }

      /* 찾기 결과 박스 */
      & > .inner-box {
        width: 530px;
        border-radius: 20px;
        background-color: #f2f9ff;
        padding: 60px 70px;
        display: flex;
        flex-direction: column;

        & > div {
          display: flex;
          justify-content: space-between;

          & > span {
            font-family: Pretendard;
            font-size: 28px;
            font-weight: 500;
            line-height: 2.14;
            letter-spacing: -0.7px;
            text-align: left;
          }
        }
      }

      /* 비밀번호 재설정 폼 */
      & > .password-reset-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        & > .item {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 6px;
        }
      }
    }

    /* 로그인 | 회원가입 */
    & > .other-button-section {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      gap: 12px;
      margin-bottom: 100px;

      & > span {
        font-family: Pretendard;
        font-size: 28px;
        letter-spacing: -0.7px;
        text-align: center;
        color: #606060;

        & > a {
          color: #606060;
        }
      }
    }
  }
  @media (max-width: 750px) {
    & > .contents {
      width: 89vw;
      margin-top: 8vw;

      & > .info-1 {
        font-size: 4.2vw;
      }

      /* 회원정보 입력 폼 */
      & > .find-form {
        width: 89vw;
        gap: 2.6vw;
        margin-top: 8vw;

        & > .item {
          gap: 0.8vw;

          & > .input-wrap {
            gap: 1.3vw;

            & > input {
              width: 61vw;
            }

            & > button {
              border-radius: 2vw;
              width: 26.6vw;
              font-size: 3.7vw;
            }
          }
        }
      }

      /* 결과 창 */
      & > .find-result-box {
        width: 89vw;
        gap: 8vw;

        /* 결과 타이틀 */
        & > .title {
          font-size: 4.2vw;
        }

        /* 찾기 결과 박스 */
        & > .inner-box {
          width: 70vw;
          border-radius: 2.6vw;
          padding: 8vw 9.3vw;

          & > div {
            & > span {
              font-size: 3.7vw;
            }
          }
        }

        /* 비밀번호 재설정 폼 */
        & > .password-reset-form {
          gap: 2.6vw;

          & > .item {
            gap: 0.8vw;
          }
        }
      }

      /* 로그인 | 회원가입 */
      & > .other-button-section {
        margin-top: 4vw;
        gap: 1.6vw;
        margin-bottom: 13.3vw;

        & > span {
          font-size: 3.7vw;
        }
      }
    }
  }
}
