footer.footer_wrap.mo {
  background-color: #ffffff;
  padding: 39px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* 내부 컨테이너 */
  & > .mo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 230px;

    /* 내부 > 내부 컨테이너 */
    & > .footer_sub {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 4px;

      & > span {
        color: #606060;
        font-size: 28px;
        line-height: 47px;
        letter-spacing: -0.7px;

        /* 연라처 */
        .contact {
          color: #fc861d;
          font-weight: bold;
        }
      }
    }
  }
  @media (max-width: 750px) {
    padding: 5.2vw 0;
    & > .mo {
      height: 30vw;
      & > .footer_sub {
        gap: 0.5vw;
        & > span {
          font-size: 3.7vw;
          line-height: 6.2vw;
          letter-spacing: -0.7px;
        }
      }
    }
  }
}
