/* 모바일 로그인 페이지 */
.m-login-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* 컨테이너 */
  & > .container {
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* 로고 */
    & > .logo {
      width: 310px;
      height: 104px;
      margin-top: 30px;

      img {
        width: 310px;
        height: 104px;
      }
    }

    /* 컨텐츠 */
    & > .contents {
      margin-top: 50px;
      margin-bottom: 100px;
      position: relative;
      width: 670px;

      /* 로그인 폼 */
      & > .login-form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & > .item {
          width: 100%;

          &.checkbox {
            display: flex;

            /* 아이디 저장 */
            label {
              font-size: 28px;
              color: #606060;
              line-height: 48px;
            }
          }
        }
      }

      /* 아이디 / 비밀번호 찾기 | 회원가입 */
      & > .other-button-section {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 12px;

        & > span {
          font-family: Pretendard;
          font-size: 28px;
          letter-spacing: -0.38px;
          text-align: center;
          & > a {
            color: #606060;
          }
        }
      }

      /* 캐릭터 이미지 박스 */
      & > .character-box {
        display: flex;
        justify-content: center;

        & > .character-group {
          width: 272px;
          height: 210px;
          margin-top: 60px;
        }
      }
    }
  }

  @media (max-width: 750px) {
    /* 컨테이너 */
    & > .container {
      width: 100vw;

      /* 로고 */
      & > .logo {
        width: 41vw;
        height: 13.3vw;
        margin-top: 4vw;

        img {
          width: 41vw;
          height: 13.3vw;
        }
      }

      /* 컨텐츠 */
      & > .contents {
        margin-top: 6.6vw;
        margin-bottom: 13.3vw;
        width: 89.3vw;

        /* 로그인 폼 */
        & > .login-form {
          gap: 1.3vw;

          & > .item {
            width: 100%;

            &.checkbox {
              display: flex;

              /* 아이디 저장 */
              label {
                font-size: 3.7vw;
                line-height: 6.2vw;
              }
            }
          }
        }

        /* 아이디 / 비밀번호 찾기 | 회원가입 */
        & > .other-button-section {
          margin-top: 4vw;
          gap: 1.6vw;

          & > span {
            font-size: 3.7vw;
            letter-spacing: -0.38px;
          }
        }

        /* 캐릭터 이미지 박스 */
        & > .character-box {
          & > .character-group {
            width: 36vw;
            height: 28vw;
            margin-top: 8vw;
          }
        }
      }
    }
  }
}
