/* 약관동의 1 팝업 */
#agree-01,
#agree-02,
#agree-03 {
  /* 팝업내용 */
  .fullpop_contlow_in {
    color: #303030;
    padding: 36px;

    & > .title {
      font-size: 20px;
      line-height: 22px;
      letter-spacing: -0.5px;
      text-align: left;
      font-weight: bold;
    }
    & > .sub {
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -0.4px;
      text-align: left;
      font-weight: bold;
      margin-top: 15px;
    }
    & > .description {
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -0.4px;
      text-align: left;
    }
    span {
      display: inline-block;
    }
    .red {
      color: #e51f3f;
    }
  }
}
