<footer class="footer_wrap">
  <div class="pc">
    <!-- 왼쪽 시작 -->
    <div class="footer_main">
      <p class="footer_text_sub">(주)그로비 교육</p>
      <p class="footer_address">
        <span class="address_initem">대표 : 박철우</span>
        <span class="address_initem">사업자등록번호: 463-81-02469</span><br />
        <span class="address_initem">
          서을특별시 서초구 서초대로50길 35. 3-7층, B1층(서초동)
        </span>
        <span class="address_initem">
          통신판매업신고번호 : 제2022-서울서초-2468호
          <a
            href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=4638102469&apv_perm_no="
            target="_blank"
            class="link_address"
          >
            [정보조회]
          </a>
        </span>
        <br />
        <span class="address_initem">신고기관명 : 서초구청</span>
        <a href="mailto:contactus@growv.com" class="address_initem type2">
          email : contactus@growv.com
        </a>
      </p>
      <p class="footer_copyright">
        Copyright 2022 by growV. All Rights Reserved.
      </p>
    </div>
    <!-- 왼쪽 끝 -->
    <!-- 오른쪽 시작 -->
    <div class="footer_sub">
      <div class="footer_customer_item">
        <p class="footer_customer_label">고객센터</p>
        <p class="footer_customer_main">1533 - 1777</p>
        <p class="footer_customer_sub">
          평일 10시~20시, 점심시간 12시~13시 <br />주말/공휴일 휴무
        </p>
      </div>
    </div>
    <!-- 오른쪽 끝 -->
  </div>
</footer>
