<footer class="footer_wrap mo">
  <!-- 내부 컨테이너 -->
  <div class="mo">
    <div class="footer_sub">
      <span>고객센터 <span class="contact">1533 - 1777</span></span>
      <span>평일 10시~20시, 점심시간 12시~13시 <br />주말/공휴일 휴무 </span>
    </div>
  </div>
</footer>
